<script>
	history.pushState({}, '', 'utilisateurProfil')
</script>

{% if oUtilConn %}
	{# <section class="section-profil margin-top-petit"> #}
	<section class="section-profil margin-top-petit">
		<h1>
			Bonjour
			<br>
			{{ oUtilConn.utilisateur_prenom }}
			{{ oUtilConn.utilisateur_nom }}
		</h1>
		<p class="messageRetourAction {{ classRetour }}">{{ messageRetourAction }}&nbsp;</p>

		<h1>Courriel</h1><br>
		<p>{{ oUtilConn.utilisateur_courriel }}</p>
		<h1>Adresse</h1><br>
		<p>{{ oUtilConn.utilisateur_adresse }}</p>
		<a class="btn margin-top-petit" href="utilisateurModifier">Modifier mon profil</a><br>
		<a class="btn" href="utilisateurSupprimer {{ oUtilConn.utilisateur_id }}">Supprimer mon profil</a>

		<a class="btn-lien margin-top-petit" href="enchereAjout">Créer une enchère</a>
	</section>
{% endif %}
