<section class="section-ajout">
	<h1>Plateforme d'enchère</h1>
	{# sois on laisse action vide et ca retournera dans la fonction ajout de la classe enchere
					    sois on ajoute un traitement.php #}


	<form class="form-ajout" action="" method="POST" enctype="multipart/form-data">

		{# ======= ENCHERE ========= #}
		{# <label>Date de création</label>
										                                              insérer la date du jour ? #}
			<label>
		Date pour la fin de l'enchère
		</label>
		<input name="date_fin" value="{{ oEnchere.date_fin }}"> <label>Prix de base pour votre enchère</label>
		<input name="prix_plancher" value="{{ oEnchere.prix_plancher }}">


		<input type="hidden" name="coup_de_coeur_lord" value="0">
		<input
		type="hidden" name="archive" value="0">


		{# ======= TIMBRES ========= #}
		<h1>Informations concernant votre timbre</h1>

		<label>Nom</label>
		<input type="text" name="nom" value="{{ oEnchere.nom }}">


		<label>Couleur</label>
		<input type="text" name="couleur" value="{{ oEnchere.couleur }}">


		<label>Pays d'origine</label>
		<input type="text" name="pays_origine" value="{{ oEnchere.pays_origine }}">


		<label>Tirage
			<span class="small">optionnel</span>
		</label>
		<input type="text" name="pays_origine" value="{{ oEnchere.tirage }}">


		<label>Quelles sont ses dimensions?
			<span class="small">en mm</span>
		</label>
		<input type="text" name="dimensions" value="{{ oEnchere.dimensions }}">


		<label for="certifie">Est-ce qu'il est certifié?</label>
		<select id="certifie" name="certifie">
			<option value="true">Oui</option>
			<option value="flase">Non</option>
		</select>
		<span>&nbsp;{{ oEnchere.certifie}}</span>

		<label>Quel est son état?</label>
		<select id="etat" name="etat">
			<option value="parfaite">Parfaite</option>
			<option value="excellente">Excellente</option>
			<option value="bonne">Bonne</option>
			<option value="moyenne">Moyenne</option>
			<option value="endommage">Endommagé</option>
		</select>
		<span>&nbsp;{{ oEnchere.etat}}</span>

		{# ======= FILE ========= #}
		<h1>Ajout d'images</h1>
		<p>Nous vous suggérons d'ajouter au minimum 1 image.
		</p>

		<input name="userfile" type="file"/>

		<input class="btn-lien" type="submit" name="enchere" value="Mettre en ligne mon enchère">
	</form>
</section>
