<section class="section-enchere margin-top-petit">
	<form enctype="multipart/form-data" class="form-enchere" action="" method="POST">

		<input type="hidden" name="utilisateur_id" value="{{ oUtilConn.utilisateur_id }}">
		<h1>Plateforme d'enchère</h1>

		<p>{{ messageRetour }}</p>
		{# sois on laisse action vide et ca retournera dans la fonction ajout de la classe enchere
																																																																				   sois on ajoute un traitement.php #}


		{# ======= ENCHERE ========= #}
		<label for="date_debut">Date pour la fin de l'enchère</label>
		<input type="date" id="date_debut" name="date_debut" value="{{ oEnchere.date_debut }}">
		<span>{{ oEnchere.erreurs.date_debut }}</span>

		<label for="date_fin">Date pour la fin de l'enchère</label>
		<input type="date" id="date_fin" name="date_fin" value="{{ oEnchere.date_fin }}">
		<span>{{ oEnchere.erreurs.date_fin }}</span>

		<label>Prix de base pour votre enchère</label>
		<input name="prix_plancher" value="{{ oEnchere.prix_plancher }}">
		<span>{{ oEnchere.erreurs.prix_plancher }}</span>

		<input type="hidden" name="coup_de_coeur_lord" value="0">

		<input
		type="hidden" name="archive" value="{{ oEnchere.archive }}">

		{# ======= TIMBRES ========= #}
		<h1 class="margin-top-petit">Informations concernant votre timbre</h1>

		<label>Nom</label>
		<input type="text" name="nom" value="{{ oTimbre.nom }}">
		<span>{{ timbre_erreurs.nom }}</span>

		<label>Année</label>
		<input type="text" name="date_creation" value="{{ oTimbre.date_creation }}">
		<span>{{ timbre_erreurs.date_creation }}</span>

		<label>Couleur</label>
		<input type="text" name="couleur" value="{{ oTimbre.couleur }}">
		<span>{{ timbre_erreurs.couleur }}</span>


		<label>Pays d'origine</label>
		<input type="text" name="pays_origine" value="{{ oTimbre.pays_origine }}">
		<span>{{ timbre_erreurs.pays_origine }}</span>


		<label>Tirage
			<span class="small">optionnel</span>
		</label>
		<input type="text" name="tirage" value="{{ oTimbre.tirage }}">
		<span>{{ timbre_erreurs.tirage }}</span>


		<label>Quelles sont ses dimensions?
			<span class="small">en mm</span>
		</label>
		<input type="text" name="dimensions" value="{{ oTimbre.dimensions }}">
		<span>{{ timbre_erreurs.dimensions }}</span>


		<label for="certifie">Est-ce qu'il est certifié?</label>
		<select id="certifie" name="certifie">
			<option value="1">Oui</option>
			<option value="0" selected>Non</option>
		</select>
		<span>&nbsp;{{ oTimbre.certifie }}</span>
		<span>{{ timbre_erreurs.certifie }}</span>


		<label>Quel est son état?</label>
		<select id="etat" name="etat">
			<option value="parfaite">Parfaite</option>
			<option value="excellente">Excellente</option>
			<option value="bonne">Bonne</option>
			<option value="moyenne">Moyenne</option>
			<option value="endommage">Endommagé</option>
		</select>
		<span>&nbsp;{{ oTimbre.etat }}</span>
		<span>{{ timbre_erreurs.etat }}</span>

		{# ======= FILE ========= #}
		<h1 class="margin-top-petit">Ajout d'images</h1>
		<p>Nous vous suggérons d'ajouter au minimum 1 image.</p>

		<input class="margin-top-petit" name="userfile" type="file"/>
		<span>{{ image_erreurs.userfile }}</span>

		<input class="btn-lien margin-top-petit" type="submit" name="" value="Mettre en ligne mon enchère">
	</form>
</section>
