<section class="section-ajout">
	<h1>{{ titre|upper }}</h1>

	<form class="form-ajout" method="POST" action="admin?entite=utilisateur&action=a">

		<label>Nom</label>
		<input name="utilisateur_nom" value="{{ utilisateur.utilisateur_nom }}">
		<span>&nbsp;{{ erreurs.utilisateur_nom }}</span>

		<label>Prénom</label>
		<input name="utilisateur_prenom" value="{{ utilisateur.utilisateur_prenom }}">
		<span>&nbsp;{{ erreurs.utilisateur_prenom }}</span>

		<label>Adresse</label>
		<input name="utilisateur_adresse" value="{{ utilisateur.utilisateur_adresse }}">
		<span>&nbsp;{{ erreurs.utilisateur_adresse }}</span>

		<label>Courriel</label>
		<input name="utilisateur_courriel" value="{{ utilisateur.utilisateur_courriel }}">
		<span>&nbsp;{{ erreurs.utilisateur_courriel }}</span>

		<label>Mots de passe</label>
		<input name="utilisateur_mdp" value="{{ utilisateur.utilisateur_mdp }}">
		<span>&nbsp;{{ erreurs.utilisateur_mdp }}</span>

		{# <select name="role_id" value="{{ utilisateur.role_id }}">
					<option value="2">Client</option>
					<option value="1">Administrateur</option>
				</select> #}

		<input type="submit" value="Envoyer">
	</form>
</section>
